<!-- app/views/calculators/index.html.erb -->
<h1>String Calculator</h1>
<%= form_with url: calculate_path, method: :post, local: true do %>
  <%= submit_tag "Calculate" %>
<% end %>
  <div>
    <%= label_tag :numbers, "Enter numbers:" %>
    <%= text_area_tag :numbers %>
  </div>
 <%#  <%= submit_tag "Calculate" %>
<%# <% end %> %> %>

<% if @result %>
  <p>Result: <%= @result %></p>
<% end %>
